.nav-link img{
    height: 40px;
    padding-top: 5px;
  }
.nav-link{
    border: none;
}
.nav-link p{

    margin-bottom: 0px;
  }

@media(min-width:1270px){
  .nav-link p{
        font-size: 1rem !important;
      }
    .nav-link img{
      height: 32px;
    }
  }
